body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

.ui.menu .item {
    font-weight: 300;
    font-size: 0.9rem;
}

.column.starter {
    padding: 40px 15px;
}

.swim_d, .swim_txt {
    color: blue;
}

.bike_d, .bike_txt {
    color: black;
}

.run_d, .run_txt {
    color: green;
}

.other_d {
    color: red;
}

.swim_icon, .bike_icon, .run_icon {
    width:1em;
    height:1em;
}

